body {
    background: #222;
  }
  
  h1 {
    font-weight: 200;
    margin: 10px;
  }
  #title {
    width:100%;
    font-family: 'Fredoka One', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #FF007F;
    text-align:center;
    margin:30px 0;
  }
  #hour {
      width:100%;
      background-color:#bdbdbd;
      font-family: 'Roboto', sans-serif;
      padding: 20px;
      overflow: hidden;
      margin: 30px;
  }
  #icon {
    float:left;
  }
  #info {
    float:left;
    width:25%;
    color: #161616;
    height:100%;
    background-color: #afafaf;
    padding:20px;
    text-align: center;
  }
  #hour h1 {
    font-family: 'Fredoka One', sans-serif;
  }
  #alerts {
    padding: 10px;
    float: left;
  }
  #safety {
    float:right;
    width: 25%;
    height: 100%;
    text-align: center;
    color: #161616;
  }
  h3, ul {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
  }
  
  /* colors: #00FFFF, #C2FF50, #FF007F */